{% extends 'base.html.twig' %}

{% block body %}
    <main class="container mb-5">
        <section class="row my-5">
            {% if app.user %}
                <div class="card h-100 bg-light">
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'bg-light'}}) }}
                        <div class="form-group">
                            <label class="form-label">Nom du produit</label>
                            {{ form_widget(form.name, {
                                'attr': {
                                    'class': 'form-control',
                                }
                            }) }}
                            <label class="form-label">Description du produit</label>
                            {{ form_widget(form.description, {
                                'attr': {
                                    'class': 'form-control',
                                }
                            }) }}
                            <label class="form-label">Prix du produit</label>
                            {{ form_widget(form.price, {
                                'attr': {
                                    'class': 'form-control mb-3',
                                }
                            }) }}

                            {{ form_row(form.image) }}
                        </div>
                        {{ form_widget(form.add, {'attr': {'class': 'btn btn-primary w-40 mt-3'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            {% endif %}
        </section>
        <section class="row my-5">
            {% if app.user %}
                <div class="card h-100 bg-light">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom du produit</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Prix unité</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.description }}</td>
                                    <td><img src="{{ "https" in product.image ? product.image : asset('uploads/images/' ~ product.image) }}" width="150" height="auto"/></td>
                                    <td>{{ product.price }} €</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
           {% endif %}
        </section>
    </main>
{% endblock %}